.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__delete {
  width: 18px;
  height: 19px;
  z-index: 1;
  background: transparent url(../images/delete-icon.svg) center no-repeat;
  position: absolute;
  top: 18px;
  right: 15px;
  fill: #fff;
  border: 0;
}

.card__delete:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__image:hover {
  cursor: pointer;
}

.card__description {
  padding: 25px 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__text {
  padding: 0;
  margin: 0;
  width: 215px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__like {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 18px;
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  fill: #000;
  border: 0;
}

.card__like_active {
  background-image: url(../images/like-active.svg);
}

.card__like:hover {
  opacity: 0.5;
  cursor: pointer;
}
