.footer {
  margin-top: 67px;
  margin-bottom: 60px;
}

.footer__copyright {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  color: #545454;
}

@media screen and (max-width: 580px) and (min-width: 321px),
  (max-width: 320px) {
  .footer {
    max-width: 282px;
    margin: 48px auto 36px;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
