.location {
  margin-top: 48px;
  color: #000;
}

.location__cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
}

@media screen and (max-width: 320px) {
  .location {
    margin-top: 36px;
  }

  .location__cards {
    grid-gap: 20px 19px;
  }
}

@media screen and (min-width: 320px) and (max-width: 580px) {
  .location {
    margin-top: 36px;
  }

  .location__cards {
    grid-gap: 20px 19px;
  }
}
