.modal {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: none;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__container {
  margin: auto;
  position: relative;
}

.modal__container_resize {
  padding: 34px 36px 36px;
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.modal__close {
  padding: 0;
  background: transparent url(../images/close-icon.svg) center no-repeat;
  background-size: contain;
  fill: #fff;
  border: none;
}

.modal__close_button-resize {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
}

.modal__close_img-btn-resize {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: calc(100% + 7px);
  left: calc(100% + 7px);
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__heading {
  margin: 0 0 54px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  color: #000;
}

.modal__form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  min-height: 200px;
}

.modal__label {
  position: relative;
}

.modal__input {
  padding: 0 0 13px;
  font-size: 14px;
  width: 100%;
  font-weight: 400;
  line-height: 1.21;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__input_error {
  border-bottom: 1px solid #f00;
}

.modal__error {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.21;
  color: #f00;
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  opacity: 0;
}

.modal__error_visible {
  opacity: 1;
}

.modal__submit {
  padding: 0;
  margin-top: 18px;
  height: 50px;
  background-color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  color: #fff;
  text-align: center;
  border: none;
}

.modal__submit_disabled {
  background-color: #f6f6f6;
  color: #000;
  text-align: center;
  border: 1px solid #000;
  opacity: 0.2;
  pointer-events: none;
}

.modal__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__image {
  padding: 0;
  margin: 0;
  max-width: 75vw;
  max-height: 75vh;
}

.modal__image-text {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.21;
  color: #fff;
  white-space: nowrap;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
}

@media screen and (max-width: 320px) {
  .modal {
    padding: 0 19px;
  }

  .modal__container_resize {
    padding: 25px 22px;
    max-width: 282px;
    box-sizing: border-box;
  }

  .modal__close_button-resize {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 22px);
    left: calc(88%);
  }

  .modal__close_img-btn-resize {
    width: 28px;
    height: 28px;
    bottom: calc(100% + 4px);
    left: calc(100%);
  }

  .modal__heading {
    font-size: 18px;
    margin: 0 0 75px;
  }

  .modal__submit {
    margin-top: 15px;
    height: 46px;
    font-size: 14px;
  }
}

@media screen and (min-width: 321px) and (max-width: 580px) {
  .modal {
    padding: 0 19px;
  }

  .modal__container_resize {
    padding: 25px 22px;
    max-width: 282px;
    box-sizing: border-box;
  }

  .modal__close_button-resize {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 22px);
    left: calc(90%);
  }

  .modal__close_img-btn-resize {
    width: 30px;
    height: 30px;
    bottom: calc(100% + 4px);
    left: calc(100%);
  }

  .modal__heading {
    font-size: 18px;
    margin: 0 0 75px;
  }

  .modal__submit {
    margin-top: 15px;
    height: 46px;
    font-size: 14px;
  }
}

@media screen and (min-width: 581px) and (max-width: 620px) {
  .modal__close_button-resize {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 22px);
    left: calc(95%);
  }

  .modal__close_img-btn-resize {
    width: 30px;
    height: 30px;
    bottom: calc(100% + 4px);
    left: calc(100% + 4px);
  }
}
